_build
dune.lock 
_opam
.merlin
jbuild-workspace
dune-workspace
*.install
*.tar.gz
*.pyc
*.cmly
*.elc
*.log

/ocamlmerlin
/ocamlmerlin-server
/ocamlmerlin-lsp
/dot-merlin-reader
/report/not_to_push

# Ignore garbage files from editors
*.un~
*.swp
*.swo
.vscode/
